{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>{{ action|title }} Item</title>{% endblock %}

{% block content %}
<main class="container p-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            {% if action == "edit" %}
            <li class="breadcrumb-item"><a href="{% url 'location-detail' location_id=item.location.id %}">
                {{ item.location }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit {{ item.name }}</li>
            {% else %}
            <li class="breadcrumb-item"><a href="{% url 'location-detail' location_id=location_id %}">
                {{ location }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Item</li>
            {% endif %}
        </ol>
    </nav>
    <button type="button" id="scan-barcode" class="btn btn-secondary scan">Scan Barcode</button>
    <section id="barcode-scanner-container" class="container">
        <div class="controls">
            <fieldset class="input-group">
                <button type="button" class="btn btn-secondary stop">Stop scanning</button>
            </fieldset>
            <fieldset class="reader-config-group">
                <label class="w-100 py-3">
                    <select name="input-stream_constraints" id="deviceSelection" class="form-select input-small"
                            aria-label="Default select example">
                    </select>
                </label>
                <label class="form-check-label" style="display: none" for="torch-checkbox">
                    <input type="checkbox" class="form-check-input" name="settings_torch" value="" id="torch-checkbox"/>
                    Torch
                </label>
            </fieldset>
        </div>
        <div id="interactive" class="viewport">
            <video class="videoCamera barcode-area" autoplay preload="auto" src="" muted playsinline></video>
            <canvas class="drawingBuffer barcode-area" width="100%"></canvas>
            <div id="scan-viewport"></div>
        </div>
    </section>
    {% crispy form %}
</main>
{% endblock %}

{% block footer_extra %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'inventory/js/quagga.min.js' %}"></script>
<script type="text/javascript" src="{% static 'inventory/js/barcode-scanner.js' %}"></script>

{{ form.media }}

<script>
    (function ($) {
        $('#add-form').click(function () {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function () {
                for (attr of ['name', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()
        });
        // update category based on the product name
        $('#id_name').on('select2:select', function () {
            var product_name = $("#select2-id_name-container").text()
            $.ajax
            ({
                type: "GET",
                url: `/product/${product_name}`,
                success: function (product_response) {
                    var product = JSON.parse(product_response)
                    $("#id_category").select2("trigger", "select", {
                        data: {id: product.category_id, text: product.category_name}
                    });
                    $("#id_barcode").val(product.barcode);
                }
            });
        });
        // lookup product by barcode
        $('#id_barcode').on('scanned', function () {
            var code = $('#id_barcode').val();
            $.ajax
            ({
                type: "GET",
                url: `/product-barcode/${code}`,
                success: function (product_response) {
                    if (product_response) {
                        var product = JSON.parse(product_response)
                        $("#id_name").select2("trigger", "select", {
                            data: {id: product.id, text: product.name}
                        });
                    } else {
                        console.log(`No product with barcode ${code}`)
                    }
                }
            });
        });
    })($)
</script>
{% endblock %}
