{% extends 'base.html' %}

{% load static %}

{% block title %}<title>{{ action|title }} Item</title>{% endblock %}

{% block content %}
<main class="container">
    <form id="add-form" action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
</main>
{% endblock %}

{% block footer_extra %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script>
    (function ($) {
        $('#add-form').click(function () {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function () {
                for (attr of ['name', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()
        });
        // update category based on the product name
        $('#id_name').on('select2:select', function () {
            var product_name = $("#select2-id_name-container").text()
            $.ajax
            ({
                type: "GET",
                url: `/product/${product_name}`,
                success: function (category_response) {
                    var category = JSON.parse(category_response)
                    $("#id_category").select2("trigger", "select", {
                        data: {id: category.id, text: category.name}
                    });
                }
            });
        });
    })($)
</script>
{% endblock %}
