<footer class="footer pt-5 mt-auto">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">Home</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 - 2022 lina-is-here.com</p>
    <p id="commit-date-id" class="text-center text-muted">Last change: 2022-02-06</p>
    <a class="text-decoration-none" href="https://www.flaticon.com/free-icons/warehouse" title="warehouse icons"><p
            class="text-center text-muted small">Favicon is part of Warehouse icons created by Freepik - Flaticon</p></a>
</footer>
