{% extends "base.html" %}

{% block title %}<title>Home Inventory</title>{% endblock %}

{% block content %}
<main class="container">
    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-black rounded bg-white">
            <div class="col-md-12 px-0">
                <h1 class="display-5">Inventory</h1>
            </div>
        </div>
    </div>
    <a href="{% url 'add-location' %}" class="btn btn-secondary">Add Location</a>
    <div class="container">
        {% if rows %}
        <div class="row mb-3">
          <div class="col-4 themed-grid-col fw-bold">Location</div>
          <div class="col-4 themed-grid-col fw-bold">Items</div>
          <div class="col-4 themed-grid-col fw-bold">Expired Items</div>
        </div>
        {% for row in rows %}
        <div class="row mb-3">
          <div class="col-4 themed-grid-col"><a href="{{ row.location.get_absolute_url }}">{{ row.location.name }}</a></div>
          <div class="col-4 themed-grid-col">{{ row.items_count }}</div>
          <div class="col-4 themed-grid-col {% if row.items_expired > 0 %}bg-danger{% endif %}">{{ row.items_expired }}</div>
        </div>
        {% endfor %}
        {% else %}
        <p>No locations yet :/</p>
        {% endif %}
        </div>
    </div>
</main>
{% endblock %}