{% extends "base.html" %}

{% block title %}<title>{{ item.name|title }}</title>{% endblock %}

{% block content %}
<main class="container p-3">

    <div class="card">
        <h5 class="card-header">{{ item.name }}</h5>
        <div class="card-body">
            <p class="card-text">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>Location</td>
                    <td>{{ item.location }}</td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td>{{ item.quantity}} {{ item.measurement }}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{ item.name.category }}</td>
                </tr>
                <tr>
                    <td>Date added</td>
                    <td>{{ item.date_added }}</td>
                </tr>
                <tr>
                    <td>Date modified</td>
                    <td>{{ item.date_modified }}</td>
                </tr>
                </tbody>
            </table>
            </p>
            <div class="btn-group" role="group" aria-label="Edit and Delete buttons">
                <a href="{% url 'edit-item' item_id=item.id %}" class="btn btn-secondary">Edit</a>
                <form action="{% url 'delete-item' item_id=item.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}