{% extends "base.html" %}

{% block title %}<title>{{ item.name|title }}</title>{% endblock %}

{% block content %}
<main class="container">
    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-black rounded bg-white">
            <div class="col-md-12 px-0">
                <h1 class="display-5">{{ item.name|title }}</h1>
            </div>
        </div>
    </div>
    <a href="{% url 'edit-item' item_id=item.id %}" class="btn btn-secondary">Edit</a>
    <div class="container">
        <div class="row mb-3">
            <div class="themed-grid-col">
                <div class="row">
                    <div class="col-4 themed-grid-col">{{ item.location }}</div>
                    <div class="col-4 themed-grid-col">{{ item.quantity }} {{ item.measurement.name }}</div>
                    <div class="col-4 themed-grid-col">{{ item.expiry_date }}</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>
{% endblock %}