{% extends "base.html" %}

{% block title %}<title>{{ location.name|title }}</title>{% endblock %}

{% block content %}
<main class="container p-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ location.name }}</li>
        </ol>
    </nav>
    <div class="d-grid gap-2">
            <a class="btn btn-outline-primary" href="{% url 'add-item' location_id=location_id %}" role="button">+ Add Item</a>
    </div>
    {% if rows %}
    <table class="table">
        <tbody>
    {% for row in rows %}
            <tr>
              <th colspan="3">{{ row.category}}</th>
            </tr>
      {% for item in row.items %}
            <tr class="{% if item.is_expired %}table-danger{% elif item.is_expiring_soon %}table-warning{% endif %}">
                <td><a href="{% url 'edit-item' item_id=item.id %}">{{ item.name }}</a></td>
                <td>{{ item.quantity }} {{ item.measurement.name }}</td>
                <td>{{ item.expiry_date }}</td>
            </tr>
      {% endfor %}
    {% endfor %}
        </tbody>
    </table>
    {% endif %}
</main>
{% endblock %}