{% extends "base.html" %}

{% block title %}<title>{{ location.name|title }}</title>{% endblock %}

{% block content %}
<main class="container">
    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-black rounded bg-white">
            <div class="col-md-12 px-0">
                <h1 class="display-5">{{ location.name|title }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        {% if rows %}
        {% for row in rows %}
        <div class="row mb-3">
            <div class="themed-grid-col">
                <div class="pb-3 fw-bold">{{ row.category}}</div>
                {% for item in row.items %}
                <div class="row">
                    <div class="col-md-4 themed-grid-col">{{ item.name }}</div>
                    <div class="col-md-4 themed-grid-col">{{ item.quantity }}</div>
                    <div class="col-md-4 themed-grid-col">{{ item.expiry_date }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        {% else %}
        <p>No categories yet :/</p>
        {% endif %}
    </div>
    </div>
</main>
{% endblock %}