.row {
    --bs-gutter-x: 0;
}

.select2 .select2-container {
    height: 36px !important;
    min-width: 0 !important;
}

.select2-container .select2-selection--single {
    height: 36px !important;
    min-width: 0 !important;
}

.select2-selection__choice{
    margin-top: 0 !important;
}

.select2-container {
    min-width: 0 !important;
}

.select2-selection__arrow {
    display: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.viewport {
    position: relative;
    overflow: hidden;
    display:block;
    width: 100%;
    height: 20vh;
}

.drawingBuffer {
    position: absolute;
    top: 0;
    left: 0;
}

#barcode-scanner-container {
    display: none;
    position: relative;
    width: 100%;
}

.barcode-area {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#scan-viewport {
    border:5px solid red;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
}
